.home div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  text-align: center;
  margin: auto;
}

.home__social {
  flex-direction: row !important;
}

a {
  font-size: xx-large;
  color: black;
}